/* .selectedCard {
  border-style: solid;
  border-color: rgb(0, 153, 255);
  border-width: 0.5vw;
  box-shadow: 2px 2px 5px black;
  transform: scale(0.9);
  -webkit-transition: transform 2s ease-in-out;
}
.card {
  display: flex;
  flex-direction: column;
}
.card p {
  margin-top: auto;
  font-size: 2rem;
} */
